.btn-1 {
  transition-duration: 0.03s;
  background-color: #ff4751;
  border: #d71d43;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0px 3px 0px 0px #d72d3e;
  cursor: pointer;
  font-family: arial;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  font-weight: bold;
}

.btn-1:active {
	position: relative;
  background: #e13737;
	top: 0.5px;
}

.btn-1:hover {
  transition-duration: 0.03s;
  /*background-color: #ea2a2a;*/
}

.xl {
  size: 25px;
}

.header {
  font-family: verdana;
}

.medium-size {
  font-size: 13.4px;
  font-weight: 700px;
}

.container {
  background-color: #ff3445;
  color: #ffffff;
  padding-left: 11px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 0.001cm;
  border-radius: 15px;
}

.post {
  background-color: #ededed;
  border-radius: 15px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.divider {
  border-top: 3px solid #d9d9d9;
}

.badge-trending {
  background-color: #ff384c;
  color: #ffffff;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.badge-liked {
  background-color: #b0b0b0;
  color: #ffffff;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.badge-verified {
  background-color: #009dbd;
  color: #ffffff;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.badge-admin {
  background-color: #ff6929;
  color: #ffffff;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.badge-banned {
  background-color: #ff1f1f;
  color: #ffffff;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.badge {
  color: #ffffff;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.badge-follow {
  background-color: #ff9ea1;
  color: white;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.hashtag {
  background-color: #b0b0b0;
  font-family: monospace;
}

img {
  vertical-align: middle;
  width: 25px;
  length: 25px;
}

.main {
  width: 45px;
  length: 45px;
}

a {
  text-decoration: none;
}

p5 {
  font-family: verdana;
  font-size: 16px;
}

p {
  font-family: verdana;
  font-size: 16px;
}

.badges-custom {
  background-color: #ffb8b8;
  color: white;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: monospace;
  text-align: center;
}

.verified-badge-png {
  width: 75px;
  length: 75px;
}

.notice-bar {
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: red;
  color: white;
}